:root {
    --nicegray: rgb(184, 161, 161);
    --brightgray: rgb(224, 201, 201);
    --good: rgb(194, 233, 187);
    --bad: rgb(236, 155, 155);

    --space-3xs: clamp(0.3125rem, 0.1847rem + 0.5682vw, 0.625rem);
    --space-2xs: clamp(0.625rem, 0.3693rem + 1.1364vw, 1.25rem);
    --space-xs: clamp(0.9375rem, 0.554rem + 1.7045vw, 1.875rem);
    --space-s: clamp(1.25rem, 0.7386rem + 2.2727vw, 2.5rem);
    --space-m: clamp(1.875rem, 1.108rem + 3.4091vw, 3.75rem);
    --space-l: clamp(2.5rem, 1.4773rem + 4.5455vw, 5rem);
    --space-xl: clamp(3.75rem, 2.2159rem + 6.8182vw, 7.5rem);
    --space-2xl: clamp(5rem, 2.9545rem + 9.0909vw, 10rem);
    --space-3xl: clamp(7.5rem, 4.4318rem + 13.6364vw, 15rem);
    --space-entity: clamp(10rem, 6.4318rem + 16.6364vw, 22.5rem);

    --step--2: clamp(0.7813rem, 0.7081rem + 0.325vw, 0.96rem);
    --step--1: clamp(0.9375rem, 0.8301rem + 0.4773vw, 1.2rem);
    --step-0: clamp(1.125rem, 0.9716rem + 0.6818vw, 1.5rem);
    --step-1: clamp(1.35rem, 1.1352rem + 0.9545vw, 1.875rem);
    --step-2: clamp(1.62rem, 1.3239rem + 1.3159vw, 2.3438rem);
    --step-3: clamp(1.944rem, 1.5408rem + 1.7922vw, 2.9297rem);
    --step-4: clamp(2.3328rem, 1.789rem + 2.4169vw, 3.6621rem);
    --step-5: clamp(2.7994rem, 2.0719rem + 3.2332vw, 4.5776rem);
    
}

@keyframes hit_anim {
    0% {
        transform: scale(1,1);
    }
    15% {
        transform: scale(0.75,0.75);
    }
    100%  {
        transform: scale(1,1);
    }
}

@keyframes block_anim {
    0% {
        transform: scale(1,1);
    }
    15% {
        transform: scale(1.2,1.2);
    }
    100%  {
        transform: scale(1,1);
    }
}

@keyframes appear {
    0% {
        opacity: 0;
        transform: scale(0,1)
    }
    100% {
        opacity: 1;
        transform: scale(1,1);
    }
}

@keyframes kill {
    0% {
        opacity: 1;
        transform: scale(1,1)
    }
    100% {
        opacity: 0;
        transform: scale(0.25,0.25);
    }
}

main {
    font-family: sans-serif;
}

.bad {
    background-color: var(--bad) !important;
}

.good {
    background-color: var(--good) !important;
}


.invisible{
    display: none !important;
}


#start-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) !important;

    font-size: var(--step-5);
    background-color: rgb(255, 255, 255);
    padding: var(--space-s);
    border-radius: var(--space-xs);
    outline-width: var(--space-l);
}
.gray_container {

    list-style: none;
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-end;
    background-color: var(--nicegray);

    outline-style: double;
    outline-width: var(--space-3xs);
    border-radius: var(--space-3xs);

    padding: 0;

    margin-inline: var(--space-l);
    min-height: var(--space-l);

}

.brighter_container {
    background-color: var(--brightgray);
    padding: 0.25rem;
    border-radius: 0.25rem;
}

.board {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-block: 2rem;
    margin-block: 3rem;
    width: 100%;
    background-color: var(--brightgray);
    height: min-content;
    
}

.entity {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: var(--step--2);

    width: var(--space-entity);

    img {
        width: var(--space-2xl);
        border-radius: 0.5rem;
    }
}

.statboard {
    margin: 0;
    font-size: var(--step--2);
    padding: 0;
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 0.25rem;

    li {
        width: fit-content;
        background-color: white;
        border-radius: 0.5rem;
        display: flex;
        align-items: center;

        img {
            width: var(--space-xs);
            height: var(--space-xs);
        }
    }
}




.hit {
    animation-name: hit_anim;
    animation-timing-function: ease-out;
    animation-duration: 0.25s;
}

.make_appear {
    transform-origin:left;
    animation-name: appear;
    animation-timing-function: ease-out;
    animation-duration: 0.15s;
    animation-fill-mode: forwards;
}

.make_dissappear {
    animation-name: appear;
    animation-timing-function: ease-in-out;
    animation-direction: reverse;
    animation-fill-mode: forwards;
    animation-duration: 0.4s;
}

.block {
    transform-origin: center;
    animation-name: block_anim;
    animation-timing-function: ease-out;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

.killed {
    transform-origin: center;
    animation-name: kill;
    animation-timing-function: ease-out;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}